[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group VoltageOS
	owner = group user/Kanishk (KanishkTheDerp)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group VoltageOS
	label-Code-Review = -2..+2 group user/Kanishk (KanishkTheDerp)
	label-Verified = -1..+1 group VoltageOS
	label-Verified = -1..+1 group user/Kanishk (KanishkTheDerp)
	push = +force group VoltageOS
	push = group user/Kanishk (KanishkTheDerp)
	read = group VoltageOS
	read = group user/Kanishk (KanishkTheDerp)
	rebase = group VoltageOS
	rebase = group user/Kanishk (KanishkTheDerp)
	removeReviewer = group VoltageOS
	removeReviewer = group user/Kanishk (KanishkTheDerp)
	submit = group VoltageOS
	submit = group user/Kanishk (KanishkTheDerp)
[access "refs/heads/*"]
	create = group VoltageOS
	create = group user/Kanishk (KanishkTheDerp)
	push = group VoltageOS
	push = +force group user/Kanishk (KanishkTheDerp)
	pushMerge = group VoltageOS
	pushMerge = group user/Kanishk (KanishkTheDerp)
	read = group VoltageOS
	read = group user/Kanishk (KanishkTheDerp)
[access "refs/tags/*"]
	push = +force group VoltageOS
	push = +force group user/Kanishk (KanishkTheDerp)
